<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forgot password</title>
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
    
    <div style="margin:10% 30%">
    <form action="" method="post">
          <h1 style="text-align: center;">Reset Password</h1>
        <div class="container">
          <label for="uname"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="uname" required>
      
          <label for="psw"><b>New Password</b></label>
          <input type="password" placeholder="Enter New Password" name="psw" required>

          <label for="psw"><b>Confirm Password</b></label>
          <input type="password" placeholder="confirm Password" name="psw" required>
      
          <button type="submit" onclick="submitForm('login')">Reset Password</button>
        </div>
        <script>
          function submitForm(action) {
                  var form = document.createElement("form");
                  form.setAttribute("method", "post");
                  form.setAttribute("action", "{{ url_for('login') }}");
                  var hiddenField = document.createElement("input");
                  hiddenField.setAttribute("type", "hidden");
                  hiddenField.setAttribute("name", "action");
                  hiddenField.setAttribute("value", action);
                  form.appendChild(hiddenField);
                  document.body.appendChild(form);
                  form.submit();
                }
          </script>
      </form> 
    </div> 
</body>
</html>
