<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HEART ABNORMALITY DETECTION</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='lead-bg.jpg')}}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='libs/font-awesome/css/font-awesome.min.css')}}">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet">
</head>

<body>
    <header>
        <script>
            function submitForm(action) {
              var form = document.createElement("form");
              form.setAttribute("method", "post");
              form.setAttribute("action", "{{ url_for('login') }}");
              var hiddenField = document.createElement("input");
              hiddenField.setAttribute("type", "hidden");
              hiddenField.setAttribute("name", "action");
              hiddenField.setAttribute("value", action);
              form.appendChild(hiddenField);
              document.body.appendChild(form);
              form.submit();
            }
            </script>
    </header>
    <!-- End header -->

    <div id="lead">
        <div id="lead-content">
            <h1>HEART ABNORMALITY DETECTION</h1>
            <h2>USING MACHINE LEARNING TECHNIQUES</h2>

            <a href="#projects" onclick="submitForm('login')" class="btn btn-rounded-white">Login</a>
        </div>
        <!-- End #lead-content -->

        <div id="lead-down">
            <span>
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </span>
        </div>
        <!-- End #lead-down -->
    </div>
    <!-- End #lead -->

    <div id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2 class="heading">About Project</h2>
                </div>
                <div class="col-md-8">
                    <p>
                        Our system focus on the classification of different ECG samples by comparing existing algorithms and formulating a new approach so as to increase the accuracy and usability.
                        To provide insights of ECG samples of the use, provide symptoms related to the condition  and recommend suitable treatments. 
                        To analyze the mass ECG samples and to predict the chance of myocardial infarction.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- End #about -->

        <div id="skills" class="background-alt">
            <h2 class="heading">Heart Abnormality Catagories</h2>
            <ul>
                <li>F: Fusion of Ventricular and Normal Beat</li>
                <li>M: Missing Beat</li>
                <li>N: Normal</li>
                <li>Q: Unclassifiable</li>
                <li>S: Supraventricular Premature Beat</li>
                <li>V: Premature Ventricular Contraction</li>
            </ul>
        
        <!-- <div class="col-sm-2 top"> -->
        <span id="to-top">
            <i class="fa fa-chevron-up" aria-hidden="true"></i>
        </span>
    </div>



    <!-- End #skills -->


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/scripts.min.js')}}"></script>
</body>

</html>