<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User login form</title>
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
    
    <div style="margin:10% 30%">
    <form action="{{ url_for('login') }}" method="post">
          <h1 style="text-align: center;">User Login</h1>
        <div class="container">
          <label for="email"><b>Email</b></label>
          <input type="text" placeholder="Enter User Email" name="email" required>
      
          <label for="password"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="password" required>
          <button type="submit">Login</button>  
        </div>
        {% if message %}
        <div class="container">
            <p style="color: red;">{{ message }}</p>
        </div>
        {% endif %}
        <div class="container" style="background-color:#f1f1f1">
          <span>Not a member? <a href="{{url_for('signup')}}">create account</a></span>
        </div>
      
      </form> 
    </div> 
     
    {% if message %}
    <script>
        const popupMessage = document.getElementById('popup-message');
        popupMessage.innerText = '{{ message }}';
        popupMessage.style.display = 'block';
    </script>
    {% endif %}
</body>
</html>
