<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Main page</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='lead-bg.jpg')}}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='libs/font-awesome/css/font-awesome.min.css')}}">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet">
</head>

<body>
   
    
    <div class="container">
        <div class="heading container" style="text-align: center;"><h2>Test Your ECG</h2></div>
        
    
        <div class="project shadow-large">
            <div class="row">
                <div class="col-md-6"><h2>Welcome ...</h2> </div>
                <div class="col-md-6"> Logged in : <strong>{{session.name}} | <a href="{{ url_for('logout') }}"> Logout</a> </div>
            </div>
            <div class="row">
        <div class="col-md-6">
            <img src="{{ url_for('static', filename='images/img1.webp')}}" style="width:100%"/> <!-- End .project-image -->
        </div>
        
        
        <br><br>
        
        <div class="col-md-6" style="padding-top: 30px">
            
                <form action="{{ url_for('predict') }}" method="POST">
                    <label class="file-upload" for="file">
                        <span>Image:</span>
                        <input type="file" name="file" id="file" accept="image/png" required/>
                    </label>
                    <br /><br />

                    <input class="btn-rounded-white" type="submit" name="submit" value="Submit" />
                </form>
                <h1>
                    Result: {{ result }}
                </h1>
        </div>
        </div>
    </div>
</div>
 


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/scripts.min.js')}}"></script>
</body>

</html>