<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Main page</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='lead-bg.jpg')}}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='libs/font-awesome/css/font-awesome.min.css')}}">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet">
</head>

  <body>
    <div class="container">
        <div class="heading container" style="text-align: center;"><h2>Test Your ECG</h2></div>
        <div class="project shadow-large">
            <div class="row">
                <div style="text-align: center;"><h1>WELCOME {{session.name}} </h1><strong> <a href="{{ url_for('logout') }}"> Logout</a></strong> </div> 
            </div>
            <div class="row">
        <div class="col-md-6">
            <img src="{{ url_for('static', filename='images/img1.webp')}}" style="width:100%"/> <!-- End .project-image -->
        </div>
        
        
        <br><br>
        
        <div class="col-md-6" style="padding-top: 30px">
            
                <form id="myForm" action="{{ url_for('predict') }}" method="POST" enctype="multipart/form-data">
                  <input type="hidden" name="filename" id="filename">
                    <label class="file-upload" for="file">
                        <span>Image:</span>
                        <input type="file" name="file" id="file" accept="image/png" required/>
                    </label>
                    <br /><br />

              <input
                class="btn-rounded-white"
                type="submit"
                name="submit"
                value="Submit"
              />
            </form>
            
          </div>
          <script>
                    // Get a reference to the file input element
          const fileInput = document.getElementById('file');

          // Add an event listener to the file input element
          fileInput.addEventListener('change', function(event) {
            // Get the selected file
            const selectedFile = event.target.files[0];

            // Create a FileReader object
            const reader = new FileReader();

            // Set the onload event handler
            reader.onload = function(e) {
              // Get the data URL of the selected image
              const imageDataUrl = e.target.result;

              // Update the source of the image element
              const selectedImage = document.getElementById('selectedImage');
              selectedImage.src = imageDataUrl;
              document.getElementById('filename').value = selectedFile.name;
            };

            // Read the selected file as a data URL
            reader.readAsDataURL(selectedFile);
          });


        </script>
        </div>
        <div style="text-align: center;">
          <img id="selectedImage" src="" >

          <h1>
            {% if class_label %}
            <p>Predicted class label: {{ class_label }}</p>
            {% endif %}
          </h1>
          <p>
            {% if class_label == 'S' %}
            <p>
              Supraventricular premature beats (SVPBs) are extra heartbeats that start in the upper chambers of the heart (atria) and occur earlier than expected. They can feel like a flutter or a skipped beat. SVPBs are usually harmless and common in healthy individuals. However, in some cases, they can cause symptoms such as palpitations, dizziness, or shortness of breath. If you experience any concerning symptoms or have underlying heart conditions, it's best to consult a healthcare professional for a proper evaluation and guidance.
            </p>
            {% elif class_label == 'F' %}
            <p>
              Fusion of ventricular and normal beats occurs when an abnormal heartbeat originating in the ventricles coincides with a normal heartbeat from the atria. This fusion beat is a combination of the abnormal and normal electrical signals in the heart. In terms of health effects, fusion beats can indicate an underlying heart condition, such as ventricular arrhythmia, and may disrupt the heart's normal rhythm. It is important to consult with a healthcare professional if you experience fusion beats or any concerning symptoms to determine the cause and appropriate management.
            </p>
            {% elif class_label == 'M' %}
            <p>
              A missing beat, also known as a skipped beat or premature pause, refers to a temporary interruption in the heart's regular rhythm. It feels like a momentary pause or "skipped" sensation in the heartbeat. Missing beats can occur due to various reasons, including stress, caffeine, certain medications, or underlying heart conditions. In most cases, isolated skipped beats are harmless and common. However, if you experience frequent or concerning skipped beats, it's advisable to consult a healthcare professional to evaluate your heart's health and rule out any underlying issues.
            </p>
            {% elif class_label == 'N' %}
            <p>
              A normal beat refers to the regular rhythm of the heart, where it contracts and relaxes in a coordinated manner. It is the heart's way of pumping blood effectively throughout the body. Normal beats ensure a steady flow of oxygen and nutrients to the organs and tissues. Maintaining a normal heartbeat is crucial for overall heart health and proper functioning of the body. Any abnormalities in the normal beat, such as irregularities or disturbances, can indicate underlying heart conditions and may require medical attention to maintain optimal heart health.
            </p>
            {% elif class_label == 'Q' %}
            <p>
              An unclassifiable beat refers to a type of heartbeat that cannot be easily categorized or identified as a specific abnormality. It may not fit into the typical patterns of normal or abnormal heart rhythms. The effects of unclassifiable beats on heart health can vary depending on the underlying cause. In some cases, they may be harmless and temporary, while in others, they could indicate an underlying heart condition that requires further evaluation and treatment. It is important to consult with a healthcare professional if you experience unclassifiable beats or any concerning symptoms to determine the cause and appropriate management for your heart health.
            </p>
            {% elif class_label == 'V' %}
            <p>
              Premature ventricular contraction (PVC) is an abnormal heartbeat that originates in the ventricles, the lower chambers of the heart. It occurs when the ventricles contract earlier than expected, interrupting the normal heart rhythm. PVCs can feel like a skipped or extra beat and may be accompanied by palpitations or a fluttering sensation in the chest. While occasional PVCs are common and usually harmless, frequent or persistent PVCs can be a sign of an underlying heart condition and may require medical evaluation. It's important to consult a healthcare professional if you have concerns about PVCs or experience any symptoms to determine the cause and ensure the overall health of your heart.
            </p>
            {% endif %}
          </p>
        </div>
      </div>
    </div>

</div>

<div id="skills" class="background-alt">
    <h2 class="heading">Heart Abnormality Catagories</h2>
    <ul>
        <li>F: Fusion of Ventricular and Normal Beat</li>
        <li>M: Missing Beat</li>
        <li>N: Normal</li>
        <li>Q: Unclassifiable</li>
        <li>S: Supraventricular Premature Beat</li>
        <li>V: Premature Ventricular Contraction</li>
    </ul>
</div>
<!-- <div class="col-sm-2 top"> -->
<!-- <span id="to-top">
    <i class="fa fa-chevron-up" aria-hidden="true"></i>
</span> -->


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/scripts.min.js')}}"></script>
  </body>
</html>
