<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User registration form</title>
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
    
    <div style="margin:7% 30%">
        <form action="{{ url_for('signup') }}" method="post">
              <h1 style="text-align: center;">User Registration</h1>
              <div class="container">
              <label for="name"><b>Username</b></label>
              <input type="text" placeholder="Enter Username" name="name" required>

              <label for="email"><b>Email</b></label>
              <input type="text" placeholder="Enter Email" name="email" required>
          
              <label for="pwd"><b>Password</b></label>
              <input type="password" placeholder="Enter Password" name="pwd" required>
              
              <button type="submit">Sign Up</button>
            </div>
            {% if message %}
            <div class="container">
                <p style="color: red;">{{ message }}</p>
            </div>
            {% endif %}
              <div class="container" style="background-color:#f1f1f1">
                <center>
              <span>Already have an account? <a href="{{url_for('login')}}" style="color:dodgerblue">Login</a></span>
            </center>
            </div>          
          </form>
    </div> 
    
   
</body>
</html>
